:root {
	--primary-fonts: 'Lobster', Serif;
	--secondary-fonts: 'Roboto', Arial;
}

@-webkit-keyframes jello-anim {
   from,
   11.1%,
   to {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }
 
   22.2% {
     -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
     transform: skewX(-12.5deg) skewY(-12.5deg);
   }
 
   33.3% {
     -webkit-transform: skewX(6.25deg) skewY(6.25deg);
     transform: skewX(6.25deg) skewY(6.25deg);
   }
 
   44.4% {
     -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
     transform: skewX(-3.125deg) skewY(-3.125deg);
   }
 
   55.5% {
     -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
     transform: skewX(1.5625deg) skewY(1.5625deg);
   }
 
   66.6% {
     -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
     transform: skewX(-0.78125deg) skewY(-0.78125deg);
   }
 
   77.7% {
     -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
     transform: skewX(0.390625deg) skewY(0.390625deg);
   }
 
   88.8% {
     -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
     transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
   }
 }
 @keyframes jello-anim {
   from,
   11.1%,
   to {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }
 
   22.2% {
     -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
     transform: skewX(-12.5deg) skewY(-12.5deg);
   }
 
   33.3% {
     -webkit-transform: skewX(6.25deg) skewY(6.25deg);
     transform: skewX(6.25deg) skewY(6.25deg);
   }
 
   44.4% {
     -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
     transform: skewX(-3.125deg) skewY(-3.125deg);
   }
 
   55.5% {
     -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
     transform: skewX(1.5625deg) skewY(1.5625deg);
   }
 
   66.6% {
     -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
     transform: skewX(-0.78125deg) skewY(-0.78125deg);
   }
 
   77.7% {
     -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
     transform: skewX(0.390625deg) skewY(0.390625deg);
   }
 
   88.8% {
     -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
     transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
   }
 }

 @keyframes jello-anim {
   from,
   11.1%,
   to {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }
 
   22.2% {
     -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
     transform: skewX(-12.5deg) skewY(-12.5deg);
   }
 
   33.3% {
     -webkit-transform: skewX(6.25deg) skewY(6.25deg);
     transform: skewX(6.25deg) skewY(6.25deg);
   }
 
   44.4% {
     -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
     transform: skewX(-3.125deg) skewY(-3.125deg);
   }
 
   55.5% {
     -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
     transform: skewX(1.5625deg) skewY(1.5625deg);
   }
 
   66.6% {
     -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
     transform: skewX(-0.78125deg) skewY(-0.78125deg);
   }
 
   77.7% {
     -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
     transform: skewX(0.390625deg) skewY(0.390625deg);
   }
 
   88.8% {
     -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
     transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
   }
 }

 body {
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: var(--secondary-fonts);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--primary-fonts);
	font-weight: normal;
}

h1 {
	font-size: 3.4rem;
	line-height: 4.2rem;
}

a {
	text-decoration: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
[hidden] {
	display: none !important;
}

#app {
	width: inherit;
	height: inherit;
}

#app-header {
	display: flex;
	width: inherit;
	height: 235px;
	flex-direction: column;
	align-items: center;
}

#app-logo {
	animation-duration: 980ms;
	transform-origin: center;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}

#app-logo.colored {
   -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
   background-image: linear-gradient(#1488CC, #2B32B2);
}

#app-logo:hover {
	animation-name: jello-anim;
}

#search-input {
	width: 350px;
	min-height: 2.5rem;
	padding: 4px 12px;
	border: none;
	outline: none;
	font-size: 1rem;
}
#search-input::placeholder {
	color: #AAA;
}
@media screen and (max-width: 768px) {
	#search-input {
		width: 300px;
	}
}


/* Main section */
main {
	min-height: 60vh;	
}

main #avatar-grid {
  display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

main #avatar-grid .avatar {
   margin: 8px;
   display: flex;
   flex-direction: column;
   width: 96px;
   height: 96px;
   padding: 8px;
   align-items: center;
   justify-content: center;
   border: 1px solid #EEE;
   border-radius: 8px;
}

main #avatar-grid .avatar:hover {
   box-shadow: 0 0px 16px #EEE;
}

main #avatar-grid .avatar img {
   display: block;
   width: 58px;
   height: 58px;
}

main #avatar-grid .avatar > .label {
   /* display: none; */
   padding-top: 10px;
   font-size: 12px;
   color: #666;
}


@media screen and (max-width: 768px) {
  main #avatar-grid {
    width: 100%;
  }
}

#app-footer {
	display: flex;
	margin-top: 2rem;
	padding-top: 3rem;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: inherit;
	height: 120px;
}

#app-footer .social-links {
	margin: 0;
	padding: 0;
}
#app-footer .social-links li {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}
#app-footer .social-links li a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 38px;
	height: 38px;
	font-size: 1rem;
	border-radius: 50px;
	background-color: #F6F6F6;
	color: #666;
	transition: background-color 80ms linear, color 80ms linear;
}
#app-footer .social-links li a:hover {
	background-color: #222;
	color: #FFF;
}
#app-footer .developar-note {
	color: #666;
	font-size: 15px;
	font-family: var(--primary-fonts);
}
#app-footer .developar-note a {
	color: royalblue;
}

.icon-labeled-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2px 1rem;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 8px;
	box-shadow: 0 4px 12px #EEE;
	transition: box-shadow 120ms ease, border-color 120ms linear;
}
.icon-labeled-input i {
	font-size: 1rem;
	color: #888;
	vertical-align: baseline;
}
.icon-labeled-input:hover {
	box-shadow: 0 8px 18px #EEE;
}

.error-message {
	width: 100%;
	height: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #888;
}
.error-message .expression {
	padding: 12px;
	font-size: 2.4rem;
}
.error-message .message {
	padding: 4px;
}